<nav class="header__menu js-header-menu {{#if menuClass}}{{menuClass}}{{/if}}">
  <ul>
    <li class="header__menu-activity"><a href="#activity">Activity</a></li>
    <li class="header__menu-swim"><a href="#swim">Swim</a></li>
    <li class="header__menu-sleep"><a href="#sleep">Sleep</a></li>
  </ul>
</nav>
