block variables
  -var title = 'Misfit Dashboard'

doctype html
html(lang='en')
  head
    title= title
    block scripts
      script(data-main='js/app', src='lib/requirejs/require.js')
    block stylesheets
      link(rel='stylesheet', type='text/css', href='css/styles.css')
  body
    block header
    block content
    block footer